<div class="container">
  <div class="jumbotron">
    <h2>Configuration</h2>
  </div>
  <div class=row>
    <div class="col-sm-6">
      <div class="row">
        <div class="col-sm-12">
          <button type="button" class="btn btn-primary" (click)="showSeason()">Season</button>
          <button type="button" class="btn btn-primary" (click)="showPricing()">Pricing</button>
          <button type="button" class="btn btn-primary" (click)="showExtra_02()">Users</button>
        </div>
       </div>
    </div>
    <div class="col-sm-6"></div>
  </div>
  <hr/>
  <div *ngIf="displaySeason === 1">
    <div class="row">
      <div class="col-sm-6">
        <!-- here comes the selection blok -->
        <div style="padding-top:15px">
          <select [(ngModel)]="selectedYear">
            <option *ngFor="let item of years">{{item}}</option>
          </select>
          <select [(ngModel)]="selectedMonth">
            <option *ngFor="let item of hmos">{{item}}</option>
          </select>
          <button type="button" class="btn btn-primary btn-xs" (click)="showSelectedMonth()">Go</button>
        </div>


        <!-- here comes the calendar -->
        <h3>
          <span>{{headingMonth}}</span>
          <span> - </span>
          <span>{{headingYear}}</span>
        </h3>
        <div class="row">
          <div class="col-md-1">
            <span>Mon</span>
          </div>
          <div class="col-md-1">
            <span>Tue</span>
          </div>
          <div class="col-md-1">
            <span>Wed</span>
          </div>
          <div class="col-md-1">
            <span>Thu</span>
          </div>
          <div class="col-md-1">
            <span>Fri</span>
          </div>
          <div class="col-md-1">
            <span>Sat</span>
          </div>
          <div class="col-md-1">
            <span>Sun</span>
          </div>
          <div class="col-md-5"></div>
        </div>
        <!-- first row -->
        <div class="row">
          <div class="col-md-1">
            <input type=text [class]=season.day_1 value={{element_1}} (click)="getDataForTable($event)" id='1' autocomplete="off">
          </div>
          <div class="col-md-1">
            <input type=text [class]=season.day_2 value={{element_2}} (click)="getDataForTable($event)" id='2' autocomplete="off">
          </div>
          <div class="col-md-1">
            <input type=text [class]=season.day_3 value={{element_3}} (click)="getDataForTable($event)" id='3' autocomplete="off">
          </div>
          <div class="col-md-1">
            <input type=text [class]=season.day_4 value={{element_4}} (click)="getDataForTable($event)" id='4' autocomplete="off">
          </div>
          <div class="col-md-1">
            <input type=text [class]=season.day_5 value={{element_5}} (click)="getDataForTable($event)" id='5' autocomplete="off">
          </div>
          <div class="col-md-1">
            <input type=text [class]=season.day_6 value={{element_6}} (click)="getDataForTable($event)" id='6' autocomplete="off">
          </div>
          <div class="col-md-1">
            <input type=text [class]=season.day_7 value={{element_7}} (click)="getDataForTable($event)" id='7' autocomplete="off">
          </div>
          <div class="col-md-5"></div>
        </div>
        <!-- second row -->
        <div class="row">
          <div class="col-md-1">
            <input type=text [class]=season.day_8 value={{element_8}} (click)="getDataForTable($event)" id='8' autocomplete="off">
          </div>
          <div class="col-md-1">
            <input type=text [class]=season.day_9 value={{element_9}} (click)="getDataForTable($event)" id='9' autocomplete="off">
          </div>
          <div class="col-md-1">
            <input type=text [class]=season.day_10 value={{element_10}} (click)="getDataForTable($event)" id='10' autocomplete="off">
          </div>
          <div class="col-md-1">
            <input type=text [class]=season.day_11 value={{element_11}} (click)="getDataForTable($event)" id='11' autocomplete="off">
          </div>
          <div class="col-md-1">
            <input type=text [class]=season.day_12 value={{element_12}} (click)="getDataForTable($event)" id='12' autocomplete="off">
          </div>
          <div class="col-md-1">
            <input type=text [class]=season.day_13 value={{element_13}} (click)="getDataForTable($event)" id='13' autocomplete="off">
          </div>
          <div class="col-md-1">
            <input type=text [class]=season.day_14 value={{element_14}} (click)="getDataForTable($event)" id='14' autocomplete="off">
          </div>
          <div class="col-md-5"></div>
        </div>
        <!-- third row -->
        <div class="row">
          <div class="col-md-1">
            <input type=text [class]=season.day_15 value={{element_15}} (click)="getDataForTable($event)" id='15' autocomplete="off">
          </div>
          <div class="col-md-1">
            <input type=text [class]=season.day_16 value={{element_16}} (click)="getDataForTable($event)" id='16' autocomplete="off">
          </div>
          <div class="col-md-1">
            <input type=text [class]=season.day_17 value={{element_17}} (click)="getDataForTable($event)" id='17' autocomplete="off">
          </div>
          <div class="col-md-1">
            <input type=text [class]=season.day_18 value={{element_18}} (click)="getDataForTable($event)" id='18' autocomplete="off">
          </div>
          <div class="col-md-1">
            <input type=text [class]=season.day_19 value={{element_19}} (click)="getDataForTable($event)" id='19' autocomplete="off">
          </div>
          <div class="col-md-1">
            <input type=text [class]=season.day_20 value={{element_20}} (click)="getDataForTable($event)" id='20' autocomplete="off">
          </div>
          <div class="col-md-1">
            <input type=text [class]=season.day_21 value={{element_21}} (click)="getDataForTable($event)" id='21' autocomplete="off">
          </div>
          <div class="col-md-5"></div>
        </div>
        <!-- fourth row -->
        <div class="row">
          <div class="col-md-1">
            <input type=text [class]=season.day_22 value={{element_22}} (click)="getDataForTable($event)" id='22' autocomplete="off">
          </div>
          <div class="col-md-1">
            <input type=text [class]=season.day_23 value={{element_23}} (click)="getDataForTable($event)" id='23' autocomplete="off">
          </div>
          <div class="col-md-1">
            <input type=text [class]=season.day_24 value={{element_24}} (click)="getDataForTable($event)" id='24' autocomplete="off">
          </div>
          <div class="col-md-1">
            <input type=text [class]=season.day_25 value={{element_25}} (click)="getDataForTable($event)" id='25' autocomplete="off">
          </div>
          <div class="col-md-1">
            <input type=text [class]=season.day_26 value={{element_26}} (click)="getDataForTable($event)" id='26' autocomplete="off">
          </div>
          <div class="col-md-1">
            <input type=text [class]=season.day_27 value={{element_27}} (click)="getDataForTable($event)" id='27' autocomplete="off">
          </div>
          <div class="col-md-1">
            <input type=text [class]=season.day_28 value={{element_28}} (click)="getDataForTable($event)" id='28' autocomplete="off">
          </div>
          <div class="col-md-5"></div>
        </div>
        <!-- fifth row -->
        <div class="row">
          <div class="col-md-1">
            <input type=text [class]=season.day_29 value={{element_29}} (click)="getDataForTable($event)" id='29' autocomplete="off">
          </div>
          <div class="col-md-1">
            <input type=text [class]=season.day_30 value={{element_30}} (click)="getDataForTable($event)" id='30' autocomplete="off">
          </div>
          <div class="col-md-1">
            <input type=text [class]=season.day_31 value={{element_31}} (click)="getDataForTable($event)" id='31' autocomplete="off">
          </div>
          <div class="col-md-1">
            <input type=text [class]=season.day_32 value={{element_32}} (click)="getDataForTable($event)" id='32' autocomplete="off">
          </div>
          <div class="col-md-1">
            <input type=text [class]=season.day_33 value={{element_33}} (click)="getDataForTable($event)" id='33' autocomplete="off">
          </div>
          <div class="col-md-1">
            <input type=text [class]=season.day_34 value={{element_34}} (click)="getDataForTable($event)" id='34' autocomplete="off">
          </div>
          <div class="col-md-1">
            <input type=text [class]=season.day_35 value={{element_35}} (click)="getDataForTable($event)" id='35' autocomplete="off">
          </div>
          <div class="col-md-5"></div>
        </div>
        <!-- sixth row -->
        <div class="row">
          <div class="col-md-1">
            <input type=text [class]=season.day_36 value={{element_36}} (click)="getDataForTable($event)" id='36' autocomplete="off">
          </div>
          <div class="col-md-1">
            <input type=text [class]=season.day_37 value={{element_37}} (click)="getDataForTable($event)" id='37' autocomplete="off">
          </div>
          <div class="col-md-1">
            <input type=text [class]=season.day_38 value={{element_38}} (click)="getDataForTable($event)" id='38' autocomplete="off">
          </div>
          <div class="col-md-1">
            <input type=text [class]=season.day_39 value={{element_39}} (click)="getDataForTable($event)" id='39' autocomplete="off">
          </div>
          <div class="col-md-1">
            <input type=text [class]=season.day_40 value={{element_40}} (click)="getDataForTable($event)" id='40' autocomplete="off">
          </div>
          <div class="col-md-1">
            <input type=text [class]=season.day_41 value={{element_41}} (click)="getDataForTable($event)" id='41' autocomplete="off">
          </div>
          <div class="col-md-1">
            <input type=text [class]=season.day_42 value={{element_42}} (click)="getDataForTable($event)" id='42' autocomplete="off">
          </div>
          <div class="col-md-5"></div>
        </div>
        <!-- here comes the save button -->
        <div style="padding-top:15px">
          <button class="btn btn-primary btn-xs" type=button (click)="saveSeason()">Save</button>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="panel panel-default">
          <div class="panel-body">
            <strong>Legend:</strong> <br/>
            <div class="row" style="padding-top: 5px">
              <div class="col-sm-4">Low season: </div>
              <div class="col-sm-2"><input type=text class='low'  id='100' autocomplete="off" ></div>
              <div class="col-sm-6"></div>
            </div>
            <div class="row">
                <div class="col-sm-4">Mid season: </div>
                <div class="col-sm-2"><input type=text class='mid'  id='101' autocomplete="off"></div>
                <div class="col-sm-6"></div>
              </div>
              <div class="row">
                  <div class="col-sm-4">High season: </div>
                  <div class="col-sm-2"><input type=text class='high'  id='102' autocomplete="off"></div>
                  <div class="col-sm-6"></div>
                </div>
          
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="displayExtra_01 === 1">
    <h3>Adjust pricing for the season (Unit {{currentAppartment()}})</h3>
    <div class="row">
      <div class="col-sm-2">Low season:</div>
      <div class="col-sm-8">
        <select class="form-control" [(ngModel)]="picUnit.lowSeasonRent">
          <option *ngFor="let item of priceLowSeason">{{item}}</option>
        </select> </div>
      <div class="col-sm-2">PHP</div>
    </div>
    <div class="row">
      <div class="col-sm-2">Mid season:</div>
      <div class="col-sm-8">
        <select class="form-control" [(ngModel)]="picUnit.midSeasonRent">
          <option *ngFor="let item of priceMidSeason">{{item}}</option>
        </select></div>
      <div class="col-sm-2">PHP</div>
    </div>
    <div class="row">
      <div class="col-sm-2">High season:</div>
      <div class="col-sm-8">
        <select class="form-control" [(ngModel)]="picUnit.highSeasonRent">
          <option *ngFor="let item of priceHighSeason">{{item}}</option>
        </select></div>
      <div class="col-sm-2">PHP</div>
    </div>
    <div style="padding-top:15px">
      <button class="btn btn-primary btn-xs" type=button (click) = "saveRent()">Save</button>
    </div>
  </div>
  <div *ngIf="displayExtra_02 === 1">
    <h3>Show users of appartment {{currentAppartment()}}</h3>
    <div class="row">
      <div class="col-sm-6">
        <select class = "form-control" [(ngModel)]="selectedAppartmentUser">
          <option *ngFor="let user of appartmentUsers">{{user.knownAs}}</option>
        </select>
      </div>
      <div class="col-sm-6"></div>
    </div>
    <div style="padding-top:15px">
      <button class="btn btn-primary btn-xs" type=button (click)="saveUserDetails()">Save</button>
    </div>
  </div>
</div>