<div class="card">
  <div class="card-header"><h4><span>{{location}}</span></h4></div>
  <div class="card-body">
    <div class="d-flex flex-row bd-highlight mb-3">
      <div class="p-2 bd-highlight"><button type="button" class="btn btn-primary" (click)="prevMonth()"><</button></div>
      <div class="p-2 bd-highlight"><div class="card"><div class="card-body" style="background-color: rgb(196, 174, 142);"><app-first-month  [rm]="firstMonth" ></app-first-month></div></div></div>
      <div class="p-2 bd-highlight"><div class="card"><div class="card-body" style="background-color: rgb(211, 194, 169);" ><app-first-month  [rm]="secondMonth" ></app-first-month></div></div></div>
      <div class="p-2 bd-highlight"><button type="button" class="btn btn-primary" (click)="nextMonth()">></button></div>
      <div class="p-2 bd-highlight"><div class="card"><div class="card-body">card 3</div></div></div>
    </div>
  </div>
  <div class="card-footer"></div>
</div>