<div class=container>
  <div class="row">
    <div class="col-sm-4"><img src="{{photo_1}}" alt="First slide" style="display: block; width: 100%;"></div>
    <div class="col-sm-4"><img src="{{photo_1}}" alt="First slide" style="display: block; width: 100%;"></div>
    <div class="col-sm-4"><img src="{{photo_1}}" alt="First slide" style="display: block; width: 100%;"></div>
  </div>
  <div class="jumbotron"><strong><h2>Pico de Loro Cove is a 40-hectare "Residential Resort Village"</h2></strong>
    <p><a href="https://www.picodeloroclub.com">more details ...</a></p>
  </div>

  <h5>
    And the ideal place to recover from or prepare for a long international flight, because of the proximity to the manila airport. 
  </h5>
  <h5>
    Your peace is not disturbed by karaoke. 
  </h5>
  <h5>
    The resort is an exclusive place and to keep it that way the entry into resort has a steep price. 
  </h5>
  <h5>
    There are some excellent restaurants and bars and numerous opportunities for (water) sports 
  </h5>
</div>