<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
  <a class="navbar-brand" href="#">Pico de loro</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_nav"  aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="main_nav">
    <ul class="navbar-nav me-auto">
      <li class="nav-item active"> <a class="nav-link" href="./home">Home </a> </li>
      <li class="nav-item dropdown" id="myDropdown">
        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Unit details</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="./unitRules/1">Details and Rules</a></li>
          <li><a class="dropdown-item" href="./unitPictures/1">Photo's</a></li>
          <li><a class="dropdown-item" href="./unitBookings/1">Bookings</a></li>
          <li><a class="dropdown-item" href="./unitRatings/1">Ratings</a></li>
         
        </ul>
      </li>
      <li class="nav-item dropdown" id="myDropdown">
        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Pico details</a>
        <ul class="dropdown-menu">
          <li> <a class="dropdown-item" href="./picoMap">Map</a></li>
          <li> <a class="dropdown-item" href="./picoPictures">Pictures</a>
          <li><a class="dropdown-item" href="./picoGeneral">General info</a></li>
          <li><a class="dropdown-item" href="./picoRules">House rules </a></li>
        </ul>
      </li>
      <li class="nav-item"><a class="nav-link" href="./about">About </a></li> 
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item" *ngIf="!loggedIn()">
        <a class="nav-link" href="./login" >Login</a>
      </li>
      <li class="nav-item dropdown" id="myDropdown02" *ngIf="loggedIn()">
        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Welcome {{ auth.decodedToken?.unique_name | titlecase }}</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="./profile"> Profile </a></li>
          <li><a class="dropdown-item" (click)="logout()"><i class="fa fa-sign-out"></i>Log out</a></li>
        </ul>
      </li>
    </ul>
  </div>
  <!-- navbar-collapse.// -->
  </div>
  <!-- container-fluid.// -->
  </nav>