<div class="container">

  
    <div class="row">
      <div class="col-sm-12">
        <h2>Pictures of Pico de Loro Resort</h2> 
        <carousel>
          <slide>
            <img src="{{photo_1}}" alt="First slide" style="display: block; width: 100%;">
          </slide>
          <slide>
            <img src="{{photo_2}}" alt="Second slide" style="display: block; width: 100%;">
          </slide>
          <slide>
            <img src="{{photo_3}}" alt="Third slide" style="display: block; width: 100%;">
          </slide>
          <slide>
            <img src="{{photo_4}}" alt="Third slide" style="display: block; width: 100%;">
          </slide>
          <slide>
            <img src="{{photo_5}}" alt="Third slide" style="display: block; width: 100%;">
          </slide>
          <slide>
            <img src="{{photo_6}}" alt="Third slide" style="display: block; width: 100%;">
          </slide>
          <slide>
            <img src="{{photo_7}}" alt="Third slide" style="display: block; width: 100%;">
          </slide>
          <slide>
            <img src="{{photo_8}}" alt="Third slide" style="display: block; width: 100%;">
          </slide>
          <slide>
            <img src="{{photo_9}}" alt="Third slide" style="display: block; width: 100%;">
          </slide>
          <slide>
            <img src="{{photo_10}}" alt="Third slide" style="display: block; width: 100%;">
          </slide>
        </carousel>
      </div>
    </div>
      
    
    </div>
