<div class="container" style="
background-image:url('../../assets/images/pico-pictures/DSC_6764.JPG'); 
background-repeat:no-repeat; 
background-size: 100%">
  <div class="jumbotron">
    <h2>Unit 610-A, your escape in the Philippines</h2>
  </div>
  <div class="row">
    <div class="col-sm-6"> </div>
    <div class="col-sm-6"> </div>
  </div>
  <div class="row" style="padding-top:500px">
      <div class="col-sm-6" style="color:beige; font-size:8pt">Copyright CSD -2021- </div>
      <div class="col-sm-6"> </div>
    </div>
</div>
