<h3><span>{{monthName}}-{{currentYear}}</span></h3>

<div class="d-flex flex-row bd-highlight mb-3">
  <div class="p-2 bd-highlight"><span>Mon</span></div>
  <div class="p-2 bd-highlight"><span>Tue</span></div>
  <div class="p-2 bd-highlight"><span>Wed</span></div>
  <div class="p-2 bd-highlight"><span>Thu</span></div>
  <div class="p-2 bd-highlight"><span>Fri</span></div>
  <div class="p-2 bd-highlight"><span>Sat</span></div>
  <div class="p-2 bd-highlight"><span>Sun</span></div>
</div>

<!-- first row -->

<div class="d-flex flex-row bd-highlight mb-3">
  <div class="p-2 bd-highlight"><input type=text [class]=element_1_class value={{element_1}} (click)="getDataForTable($event)" id='110'
    autocomplete="off"></div>
  <div class="p-2 bd-highlight"><input type=text [class]=element_2_class value={{element_2}} (click)="getDataForTable($event)" id='120'
    autocomplete="off"></div>
  <div class="p-2 bd-highlight"><input type=text [class]=element_3_class value={{element_3}} (click)="getDataForTable($event)" id='130'
    autocomplete="off"></div>
  <div class="p-2 bd-highlight"><input type=text [class]=element_4_class value={{element_4}} (click)="getDataForTable($event)" id='140'
    autocomplete="off"></div>
  <div class="p-2 bd-highlight"><input type=text [class]=element_5_class value={{element_5}} (click)="getDataForTable($event)" id='150'
    autocomplete="off"></div>
  <div class="p-2 bd-highlight"><input type=text [class]=element_6_class value={{element_6}} (click)="getDataForTable($event)" id='160'
    autocomplete="off"></div>
  <div class="p-2 bd-highlight"><input type=text [class]=element_7_class value={{element_7}} (click)="getDataForTable($event)" id='170'
    autocomplete="off"></div>
</div>
<!-- second row -->

<div class="d-flex flex-row bd-highlight mb-3">
  <div class="p-2 bd-highlight"><input type=text [class]=element_8_class value={{element_8}} (click)="getDataForTable($event)" id='110'
    autocomplete="off"></div>
  <div class="p-2 bd-highlight"><input type=text [class]=element_9_class value={{element_9}} (click)="getDataForTable($event)" id='120'
    autocomplete="off"></div>
  <div class="p-2 bd-highlight"><input type=text [class]=element_10_class value={{element_10}} (click)="getDataForTable($event)" id='130'
    autocomplete="off"></div>
  <div class="p-2 bd-highlight"><input type=text [class]=element_11_class value={{element_11}} (click)="getDataForTable($event)" id='140'
    autocomplete="off"></div>
  <div class="p-2 bd-highlight"><input type=text [class]=element_12_class value={{element_12}} (click)="getDataForTable($event)" id='150'
    autocomplete="off"></div>
  <div class="p-2 bd-highlight"><input type=text [class]=element_13_class value={{element_13}} (click)="getDataForTable($event)" id='160'
    autocomplete="off"></div>
  <div class="p-2 bd-highlight"><input type=text [class]=element_14_class value={{element_14}} (click)="getDataForTable($event)" id='170'
    autocomplete="off"></div>
</div>

<!-- third row -->

<div class="d-flex flex-row bd-highlight mb-3">
  <div class="p-2 bd-highlight"><input type=text [class]=element_15_class value={{element_15}} (click)="getDataForTable($event)" id='110'
    autocomplete="off"></div>
  <div class="p-2 bd-highlight"><input type=text [class]=element_16_class value={{element_16}} (click)="getDataForTable($event)" id='120'
    autocomplete="off"></div>
  <div class="p-2 bd-highlight"><input type=text [class]=element_17_class value={{element_17}} (click)="getDataForTable($event)" id='130'
    autocomplete="off"></div>
  <div class="p-2 bd-highlight"><input type=text [class]=element_18_class value={{element_18}} (click)="getDataForTable($event)" id='140'
    autocomplete="off"></div>
  <div class="p-2 bd-highlight"><input type=text [class]=element_19_class value={{element_19}} (click)="getDataForTable($event)" id='150'
    autocomplete="off"></div>
  <div class="p-2 bd-highlight"><input type=text [class]=element_20_class value={{element_20}} (click)="getDataForTable($event)" id='160'
    autocomplete="off"></div>
  <div class="p-2 bd-highlight"><input type=text [class]=element_21_class value={{element_21}} (click)="getDataForTable($event)" id='170'
    autocomplete="off"></div>
</div>

<!-- fourth row -->

<div class="d-flex flex-row bd-highlight mb-3">
  <div class="p-2 bd-highlight"><input type=text [class]=element_22_class value={{element_22}} (click)="getDataForTable($event)" id='110'
    autocomplete="off"></div>
  <div class="p-2 bd-highlight"><input type=text [class]=element_23_class value={{element_23}} (click)="getDataForTable($event)" id='120'
    autocomplete="off"></div>
  <div class="p-2 bd-highlight"><input type=text [class]=element_24_class value={{element_24}} (click)="getDataForTable($event)" id='130'
    autocomplete="off"></div>
  <div class="p-2 bd-highlight"><input type=text [class]=element_25_class value={{element_25}} (click)="getDataForTable($event)" id='140'
    autocomplete="off"></div>
  <div class="p-2 bd-highlight"><input type=text [class]=element_26_class value={{element_26}} (click)="getDataForTable($event)" id='150'
    autocomplete="off"></div>
  <div class="p-2 bd-highlight"><input type=text [class]=element_27_class value={{element_27}} (click)="getDataForTable($event)" id='160'
    autocomplete="off"></div>
  <div class="p-2 bd-highlight"><input type=text [class]=element_28_class value={{element_28}} (click)="getDataForTable($event)" id='170'
    autocomplete="off"></div>
</div>

<!-- fifth row -->

<div class="d-flex flex-row bd-highlight mb-3">
  <div class="p-2 bd-highlight"><input type=text [class]=element_29_class value={{element_29}} (click)="getDataForTable($event)" id='110'
    autocomplete="off"></div>
  <div class="p-2 bd-highlight"><input type=text [class]=element_30_class value={{element_30}} (click)="getDataForTable($event)" id='120'
    autocomplete="off"></div>
  <div class="p-2 bd-highlight"><input type=text [class]=element_31_class value={{element_31}} (click)="getDataForTable($event)" id='130'
    autocomplete="off"></div>
  <div class="p-2 bd-highlight"><input type=text [class]=element_32_class value={{element_32}} (click)="getDataForTable($event)" id='140'
    autocomplete="off"></div>
  <div class="p-2 bd-highlight"><input type=text [class]=element_33_class value={{element_33}} (click)="getDataForTable($event)" id='150'
    autocomplete="off"></div>
  <div class="p-2 bd-highlight"><input type=text [class]=element_34_class value={{element_34}} (click)="getDataForTable($event)" id='160'
    autocomplete="off"></div>
  <div class="p-2 bd-highlight"><input type=text [class]=element_35_class value={{element_36}} (click)="getDataForTable($event)" id='170'
    autocomplete="off"></div>
</div>

<!-- fifth row -->

<div class="d-flex flex-row bd-highlight mb-3">
  <div class="p-2 bd-highlight"><input type=text [class]=element_36_class value={{element_36}} (click)="getDataForTable($event)" id='110'
    autocomplete="off"></div>
  <div class="p-2 bd-highlight"><input type=text [class]=element_37_class value={{element_37}} (click)="getDataForTable($event)" id='120'
    autocomplete="off"></div>
  <div class="p-2 bd-highlight"><input type=text [class]=element_38_class value={{element_38}} (click)="getDataForTable($event)" id='130'
    autocomplete="off"></div>
  <div class="p-2 bd-highlight"><input type=text [class]=element_39_class value={{element_39}} (click)="getDataForTable($event)" id='140'
    autocomplete="off"></div>
  <div class="p-2 bd-highlight"><input type=text [class]=element_40_class value={{element_40}} (click)="getDataForTable($event)" id='150'
    autocomplete="off"></div>
  <div class="p-2 bd-highlight"><input type=text [class]=element_41_class value={{element_41}} (click)="getDataForTable($event)" id='160'
    autocomplete="off"></div>
  <div class="p-2 bd-highlight"><input type=text [class]=element_42_class value={{element_42}} (click)="getDataForTable($event)" id='170'
    autocomplete="off"></div>
</div>

