<div class="container">

  
<div class="row">
  <div class="col-sm-12">
    <h2>Pictures of {{pictureLocation}}</h2> 
    <carousel>
      <slide>
        <img src="{{photo_1}}" alt="First slide" style="display: block; width: 100%;">
      </slide>
      <slide>
        <img src="{{photo_2}}" alt="Second slide" style="display: block; width: 100%;">
      </slide>
      <slide>
        <img src="{{photo_3}}" alt="Third slide" style="display: block; width: 100%;">
      </slide>
      <slide>
        <img src="{{photo_4}}" alt="Fourth slide" style="display: block; width: 100%;">
      </slide>
      <slide>
        <img src="{{photo_5}}" alt="Fifth slide" style="display: block; width: 100%;">
      </slide>
      <slide>
        <img src="{{photo_6}}" alt="Sixth slide" style="display: block; width: 100%;">
      </slide>
      <slide>
        <img src="{{photo_7}}" alt="Seventh slide" style="display: block; width: 100%;">
      </slide>
      <slide>
        <img src="{{photo_8}}" alt="Eighth slide" style="display: block; width: 100%;">
      </slide>
      <slide>
        <img src="{{photo_9}}" alt="Nineth slide" style="display: block; width: 100%;">
      </slide>
      <slide>
        <img src="{{photo_10}}" alt="Tenth slide" style="display: block; width: 100%;">
      </slide>
    </carousel>
  </div>
</div>
<div class="row" *ngIf="showDetails()" style="padding-top: 25px">
  <div class="col-sm-6">
<button type="button" class="btn btn-primary bth-lg" (click)= "details()">Details of {{pictureLocation}}</button>
<button type="button" class="btn btn-danger bth-lg"  (click)= "availability()">Check availability</button>
  </div>
  <div class="col-sm-6" >
    
  </div>
</div>


</div>