<div class="container">
  <div id="panelbackground" *ngIf="!showDetails">
    <div *ngFor="let appt of appointments">
      <div class="row">

        <div class=col-sm-10>
          <ul>
            <li>
              <div id="shakepanel" [ngStyle]=" addStyles()">
                <div class="row">
                  <div class="col-sm-12">
                    <div class=row>
                      <div class="col-sm-4">
                        <span class="pull-left">
                          <img src="{{appt.picoUnitPhotoUrl}}" alt="" class="img-circle">
                        </span>
                      </div>
                      <div class="col-sm-8">
                        <div class=row>
                          <div class=col-sm-4>Arrival: {{appt.startDate | date}}</div>
                          <div class=col-sm-4>Leaving: {{appt.endDate | date}}</div>
                          <div class=col-sm-4>{{appt.noOfNights}} Nights</div>
                        </div>
                        <div class=row>
                          <div class=col-sm-4>Status: {{getStatus(appt.status)}}</div>
                          <div class=col-sm-4 style.color="{{appt.paid_InFull === 0 ? 'red': 'green'}}">Paid: {{getPayment(appt.paid_InFull)}}</div>
                          <div class=col-sm-4></div>
                        </div>
                      </div>
                    </div>

                  </div>

                </div>
              </div>

            </li>
          </ul>
        </div>
        <div class=col-sm-2>
          <div class="row">
            <div class="col-sm-6" style="display:inline-block">
              <button type=button class="btn btn-primary" (click)="accept(appt)">Details</button>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="text-center">
      <pagination [boundaryLinks]="true" [totalItems]="pagination.totalItems" [itemsPerPage]="pagination.itemsPerPage" (pageChanged)="pageChanged($event)"
        [(ngModel)]="pagination.currentPage" class="pagination-sm" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;"
        lastText="&raquo;"></pagination>
    </div>
  </div>
  <div class=row>
    <div class="col-sm-10">
      <app-appointment-detail [appt]="appt" (showList)="showList($event)" *ngIf="showDetails"></app-appointment-detail>
    </div>
    <div class="col-sm-2"></div>
  </div>