<div class="container mt-5">
  <div class="card">
    <div class="card-header">
      <h3><span class="label label-default">Request a stay in {{currentUnit}}</span></h3>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-6">Message to: {{caretakerName}}</div>
        <div class="col-sm-6"></div>
      </div>
       
     
     <div *ngIf="chat()"> Message from: {{senderName}}</div>
     <div *ngIf="!chat()">
      <div class="row">
        <div class="col-sm-6">
          <div class="row">
           <div class="col-sm-4">Message from </div>
           <div class="col-sm-4"><input type="text" class="form-control" 
            [(ngModel)]="senderEmail" 
            placeholder="your email"
            name="id"></div>
           <div class="col-sm-4"> because you are not logged in and can not use the chat function ...</div>

          </div>
        </div>
        <div class="col-sm-6"></div>
      </div> 

      <div class="row">
        <div class="col-sm-6"></div>
        <div class="col-sm-6"></div>
      </div>

      <div class="row">
        <div class="col-sm-6"></div>
        <div class="col-sm-6"></div>
      </div>
      
       <div class="row">
        <div class="col-sm-12">
          <textarea id="w3review" name="w3review"  [(ngModel)]="appointment.comment"   rows="4" cols="50">
          </textarea>
        </div>
       
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-primary">Cancel</button>
          <button type="button" class="btn btn-primary">Send</button>
        </div></div>
        <div class="col-sm-6"></div>
      </div>
      
      </div>

    </div>
    <div class="card-footer"></div>
  </div>
</div>